/*  ===================================
    Variables

    Place your global variables here.
    ===================================  */

$screen_w: 1024px !default;
$screen_h: 768px !default;
$side_margin: 20px !default;
$side_padding: 20px !default;

/* colors */
$bg_color: #cdd9db;

$main_menu_height: 40px;